*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --main-color: #f24f04;
    --text-color:#252429;
    --bg-color:#fffefb;
    --other-color: #95949a;
    --bb-color:#fff2de;
    --big-font:4.4rem;
    --h2-font:3rem;
    --p-font: 1rem;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 0.4rem 30rem rgb(0,0,0,0.1);
    padding: 15px 8%;
    transition: all ease .52s;
}
.logo img{
    width: 70px;
    max-width: 100%;
    height: auto;
}
.navbar{
    display: flex;
}
.navbar a{
    position: relative;
    margin: 0px 15px;
    padding: 5px 5px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all ease .50s;
    text-decoration: none;
}
.navbar a::after{
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0px;
    width: 0%;
    left: 40%;
    transform:  translateX(-50%);
    border-radius: 2px;
    background: var(--main-color);
    transition:  all ease .50s;
}
.navbar a:hover::after{
    width: 40%;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.navbar a.active::after{
    width: 40%;
}
.header-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icons i{
    vertical-align: middle;
    font-size: 1.1rem;
    color: var(--text-color);
    margin-left: 20px;
    transition: all ease.50s;
}
#menu-icon{
    font-size: 18px;
    color: var(--text-color);
    transition: all ease.50s;
    z-index: 10001;
    margin-left: 25px;
    cursor: pointer;
    display: none;
}
.header-icons i:hover{
    transform:  scale(1.1) translateX(-5px);
    color: red;
}

section{
    padding: 85px 18% 65px;
}
.home{
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 5rem;
}
.home-img img{
    height: auto;
    width: 100%;
}
.home-text h1{
    font-size: 3rem;
    font-weight: 900;
    line-height:4rem;
    font-family: 'Playfair Display',serif;
}
.home-text p{
    max-width: 370px;
    font-weight: var(--p-font);
    line-height: 32px;
    color: #5f4141;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.home-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: var(--p-font);
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.7rem;
    transition: all ease .50s;
}
.btn:hover{
    transform:  scale(1.1) translateX(-5px);
}
.box-img{
    width: 190px;
    height: 190px;
}
.center-text{
    text-align: center;
}
.center-text strong{
    font-size: var(--p-font);
    font-weight: 500;
    color:var(--main-color);
}
.center-text h2{
    font-family: 'Playfair Display',serif;
    font-size: var(--h2-font);
    font-weight: 900;
}
.categories-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}
.box{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.box h3{
    margin: 15px 0;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Playfair Display',serif;
}
.box p{
    font-size: var(--p-font);
    line-height: 30px;
    color: #7a6054;
}
.history{
display: grid;
grid-template-columns: repeat(2,1fr);
align-items: center;
gap: 2rem;
}
.history-img img{
height: auto;
width: 100%;
margin: -10%;
}
.history-text strong{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}
.history-text h2{
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.2;
    margin: 30px 0;
    font-family: 'Playfair Display',serif;
}
.history-text p{
    max-width: 450px;
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
    margin-bottom: 1rem;
}
.menu-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    box-shadow: -1px 15px 26px -4px rgb(161 151 151 /15%);
    border-radius: 0.7rem;
    padding: 30px 20px;
    cursor: pointer;
    transition: all ease .50s;
}
.row-img{
    width:300px;
    height: 150px;
    margin-bottom: 15px;
}
.row-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.row h6{
    font-size: 15px;
    font-weight: 800;
    color: var(--main-color);
}
.row h5{
    font-family: 'Playfair Display',serif;
    font-size: 18px;
    font-weight: 900;
}
.ratings i{
font-size: 1rem;
color: var(--main-color);
}
.row:hover{
    transform: translateY(-8px);
}
.menu-btnn{
    text-align: center;
    margin-top: 3rem;
}
.testimonial{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.testimonial-left strong{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);

}
.testimonial-left h2{
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1;
    margin: 30px 0;
    font-family: 'Playfair Display',serif;
}
.testimonial-img img{
    width: 100%;
    max-width: 160px;
    height: auto;
    margin-bottom: 15px;

}
.testimonial-right h4{
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 8px;
    font-family: 'Playfair Display',serif;
}
.testimonial-right h6{
    color: var(--main-color);
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 20px;
}
.testimonial-right p{
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
}

.container h1{
    text-align: center;
    color: coral;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}
.container h1:hover{
    color: green;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;

}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
label{
    color: #1c093c;
    font-size: 14px;

}
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
input:focus{
    outline: none;
    border-color: #6f6df4;
}


.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: 1rem;
}
.contact-box .logo img{
    width: 140px;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.1rem;
}
.icons i{
    width: 35px;
    height: 35px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 18px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all ease .50s;
}
.icons i:hover{
    transform: translateY(-5px);
    background-color: red;
    color: var(--text-color);
}
.contact-box h3{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
}
.contact-box li a{
    display: block;
    color: black;
    font-size: var(--p-font);
    transition: all ease .50s;
    text-decoration: none;
}
.contact-box li a:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}
.copyright p{
    text-align: center;
    padding: 18px;
    background: #fff2de;
    font-size: 14px;
    font-weight: 500;
    color: var(--other-color);
    letter-spacing: 1px;
}
#darkmode{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}
body.dark{
    --text-color: #fff;
    --bg-color:#1f1f1f;
    --bb-color:#0e0e0e;
}
body.dark label{
    color: #fff;
}